* {
 box-sizing: border-box;
}
body {
  background-color: rgb(112, 134, 153, 0.5);
  margin: 0;
}
#search {
 display: block;
  width: 50%;
  margin: 20px auto;
  padding: 15px;
  border: none;
  font-size: 20px;
  outline: none;
}
.gallery {
 max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 20px;
  justify-content: center;
  margin: 0 auto;
}
img {
  transition: transform .5s;
  border-radius: 20px;
}
img:hover {
  transform: rotate(-10deg);

}
